.active {
    border-bottom: 2px solid white;
}
.active:hover {
    border-bottom: 2px solid white;
    transition-duration: 0.3s;
}
h2 {
    margin-left: 14%;
}
.post-area {
    margin-left: 13%;
    padding: 10px;
}
button {
    padding: 10px;
    font-family: 'Poppins';
}
textarea {
    padding: 10px;
}
.content {
    margin-left: 14%;
}
.post-form-card {
    max-width: 100px;
    margin: auto;
    padding: 20px;
}
.post-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
mat-card {
    width: 400px;
    padding: 20px;
    text-align: center;
    margin-left: 35%;
    margin-top: 3%;
}
mat-form-field {
    width: 100%;
}
button {
    display: block;
    margin: 10px auto 0;
}
input[type="file"] {
    display: none;
}
.file-button {
    background-color: rgb(123, 31, 162);
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
}
.file-button:hover {
    background-color: rgb(156, 77, 204);
}
.image-preview {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  
  .image-preview img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  